<input type="text" placeholder="Adjective" ng-model="bradyBunch.adj1">
<input type="text" placeholder="Number" ng-model="bradyBunch.no1">
<input type="text" placeholder="Adjective" ng-model="bradyBunch.adj2">
<input type="text" placeholder="Color" ng-model="bradyBunch.clr1">
<input type="text" placeholder="Noun" ng-model="bradyBunch.noun1">
<input type="text" placeholder="Man's Name" ng-model="bradyBunch.name1">
<input type="text" placeholder="Number" ng-model="bradyBunch.no2">
<input type="text" placeholder="Number" ng-model="bradyBunch.no3">
<input type="text" placeholder="Verb - Past Tense" ng-model="bradyBunch.verb1">
<input type="text" placeholder="Noun" ng-model="bradyBunch.noun2">
<input type="text" placeholder="Verb - Base Form" ng-model="bradyBunch.verb2">
<input type="text" placeholder="Verb - Past Tense" ng-model="bradyBunch.verb3">
<input type="text" placeholder="Verb - Past Tense" ng-model="bradyBunch.verb4">
<button type="button" ng-click="madlib(bradyBunch)">SUBMIT</button>
